
@{
    Layout = null;
}

<!DOCTYPE html>


<style>
    #demo {
        text-align: center;
        background: url('../Img/QQ图片20201210182131.png') no-repeat;
        background-size: 100% 100%;
    }



    #demo_1_1 {
        margin-top: 240px;
        height: 100px;
        width: 120px;
        border: solid 1px;
        margin-left: 1520px;
        background-image: url('../Img/1111.jpg');
        background-size: 100% 100%;
        align-content: center;
        border-color: black;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="demo" style=" width:1900px;height:965px;border:solid 1px ">
            <div id="demo_1_1"> </div>
            <div id="demo_1" style="color:green; margin:0 auto;width:500px;height:55px; font-size:30px;text-align:center;margin-left:1320px" readonly="readonly">物业管理系统 </div>
            <br />

            <input type="text" id="Account" placeholder="请输入账号" style="width:250px;height:40px;margin-left:1260px" />
            <br />
            <br />
            <input type="password" id="Pwd" placeholder="请输入密码" style="color:red; width:250px;height:40px;margin-left:1325px;display:inline-block" /><a href="/Login/Forget" style="margin-left:5px;">忘记密码</a>
            <br />
            <br />

            
            <input style="margin-left:1300px;" type="text" id="txtValiCode" value="" placeholder="请输入验证码"/>
            <img id="GL_StandardCode" style="width:90px;height:25px; cursor: pointer;" src="@Url.Action("GetImg", "Login")?t=@DateTime.Now.Ticks" title="看不清，点击换一张" />


            <input type="button" value="登录" onclick="btnDL()" class="btn btn-primary" style="margin-left:1220px;width:110px;height:38px;margin-top:30px" />
            <input type="button" value="重置" onclick="btnCZ()" class="btn btn-danger" style="margin-left:1220px;width:110px;height:38px;margin-top:10px" />


        </div>
    </div>
</body>
</html>


<script>
        //验证码图片刷新
   $("#GL_StandardCode").click(function () {
    var newSrc = "@Url.Action("GetImg", "Login")" + "?t=" + (new Date()).getTime();
    this.src=newSrc;
    return false;
    });


    //登录按钮点击
    function btnDL() {
        var s = $("#Account").val();
        if (s == "") {
            alert("用户名不能为空");
            return;
        }
        var a = $("#Pwd").val();
        if (a == "") {
            alert("密码不能为空");
            return;
        }
        var y = $("#txtValiCode").val();
        if (y == "") {
            alert("验证码不能为空");
            return;
        }


        $.ajax({
            url: 'http://localhost:50100/api/Login/Login',
            type: "post",
            data: { LName: s, LPwd: a},
            dataType: "json",
            success: function (d) {
                if (d > 0) {

                        alert("登录成功");
                        location.href = "/Login/Index";
                    }
                else {
                    alert("用户名或密码错误");
                }
            }
        });
    }
    function btnCZ() {
        location.href = "/Login/Login";
    }
</script>